* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'Open Sans' sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.buffer {
  margin: 25px 0;
}

#colorful {
  height: 100%;
  width: 100%;
  padding-top: 20%;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
}

#time {
  width: 50%;
  margin: auto;
  overflow: auto;
}

.timeContainer {
  float: left;
  font-size: 10em;
  font-weight: 300;
  width: 33%;
  text-align: center;
}

#date {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#currentHex {
  font-size: 2em;
}

#github {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: inherit;
  border-right-style: solid;
  border-right-width: 0px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

#github:hover,
#github:focus {
  border-right-width: 3px;
}